name: Deployment [Pre-Release]

on:
  workflow_dispatch:
  release:
    types: [prereleased]

env:
  tag: ${{ github.event.release.tag_name }}
  helmPackageFile: azure-spot-vm-analysis-${{ github.event.release.tag_name }}.tgz

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up QEMU
      uses: docker/setup-qemu-action@v1
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v1.0.2
      with:
        buildkitd-flags: --debug
    - name: Login
      uses: docker/login-action@v1.6.0
      with:
        username: ${{ secrets.DOCKERHUB_USER }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}
    - name: Build and push
      uses: docker/build-push-action@v2
      with:
        tags: latamocptechteam/azure-spot-vm-analysis:${{ github.event.release.tag_name }}
        context: ./src
        push: true
